@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
}

.anim-left {
  animation: anim-left 1s ease-in-out both;
}

@keyframes anim-left {
  0% {
    position: relative;
    opacity: 0;
    left: -20px;
  }
  100% {
    position: relative;
    opacity: 1;
    left: 0px;
  }
}

@for $i from 1 through 99 {
  .anim-left:nth-child(#{$i}) {
    animation-delay: #{calc($i/2)}s;
  }
}
